@model Assignment9.Controllers.AlbumWithDetails

@{
    ViewBag.Title = "Details";
}

<h2>Album details - @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlAlbum)
        </dt>

        <dd>
            <img src="@Model.UrlAlbum" alt="artist_photo" width="150" height="150" />
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            <div class="panel panel-default panel-body">
                @Html.Raw(Model.Description)
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("List of Artists", "Index", "Artists", null, new { @class = "btn btn-success" })
    @Html.ActionLink("List of Albums", "Index", "Albums", null, new { @class = "btn btn-warning" })
    @Html.ActionLink("List of Tracks", "Index", "Tracks", null, new { @class = "btn btn-info" })
</p>
