@model Assignment8.Controllers.ArtistWithAlbum

@{
    ViewBag.Title = "Details";
}

<h2>Artist details - @Model.Name</h2>
<p>
    @Html.ActionLink("Create New Album", "AddAlbum", new { id = Model.Id })
</p>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BirthName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BirthName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BirthOrStartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BirthOrStartDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UrlArtist)
                </dt>

                <dd>
                    <img src="@Model.UrlArtist" width="150" height="150" />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Executive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Executive)
                </dd>
            </dl>
        </div>

        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Albums)
                    <span class="badge"> @Html.DisplayFor(model => model.AlbumsCount) </span>
                </dt>
                <dd>
                    @foreach (var a in Model.Albums)
                    {
                        @Html.ActionLink(a.Name, "Details", "Albums", new { id = a.Id }, null) <br />
                     }
                </dd>
            </dl>
          </div>
    </div>
<p>
    @Html.ActionLink("List of Artists", "Index", "Artists", null, new { @class = "btn btn-success" })
    @Html.ActionLink("List of Albums", "Index", "Albums", null, new { @class = "btn btn-warning" })
    @Html.ActionLink("List of Tracks", "Index", "Tracks", null, new { @class = "btn btn-info" })
</p>